<h1>Smoke</h1>

<h2>Format Number</h2>

<div data-test-field="Format Number">
  {{format-number
    1000
    currency="EUR"
    format="currency"
    style="currency"
  }}
</div>

<h2>Format Date</h2>

<div data-test-field="Format Date">
  {{format-date
    "Thu Jan 23 2014 18:00:44 GMT+0000 (GMT)"
    timeZone="UTC"
  }}
</div>

<h2>Format Time</h2>

<div data-test-field="Format Time">
  {{format-time
    "Thu Jan 23 2014 18:00:44 GMT+0000 (GMT)"
    hour="numeric"
    hour12=false
    minute="numeric"
    second="numeric"
    timeZone="UTC"
  }}
</div>

<h2>Format Relative</h2>

<div data-test-field="Format Relative">
  {{format-relative 1 unit="day"}}
</div>

<h2>Nested Translations</h2>

<div data-test-field="Nested Translations">
  {{#if this.areNestedTranslationsWorking}}
    Working
  {{else}}
    Not working
  {{/if}}
</div>