<label for={{this.fieldId}}>
  {{t "components.select-locale.label"}}:
</label>

<select
  data-test-select-locale
  id={{this.fieldId}}
  {{on "change" this.updateLocale}}
>
  {{!
    BUG: We can't conditionally render the `selected` attribute
    https://github.com/emberjs/ember.js/issues/19115
  }}
  {{#if (eq this.value undefined)}}
    <option disabled selected value="">
      {{t "components.select-locale.default-option"}}
    </option>
  {{else}}
    <option disabled value="">
      {{t "components.select-locale.default-option"}}
    </option>
  {{/if}}

  {{#each this.options as |opt|}}
    {{#if (eq this.value opt.value)}}
      <option
        data-test-option={{opt.value}}
        selected
        value={{opt.value}}
      >
        {{opt.label}}
      </option>
    {{else}}
      <option
        data-test-option={{opt.value}}
        value={{opt.value}}
      >
        {{opt.label}}
      </option>
    {{/if}}
  {{/each}}
</select>