<!-- 
<div class="main">
    <div class="hero">
      <div class="header">
          <h1 id="title">ember-intl</h1>
      </div>
    </div>
    <div class="content">
        <div>
            {{#each selections as |model|}}
              <button class={{if model.active 'active'}} {{action 'changeLocale' model.locale}}>
                {{model.locale}}
              </button>
            {{/each}}
        </div>
-->
        {{outlet}}
        {{docs-keyboard-shortcuts}}
<!--
    </div>
</div>
-->
