{{docs-header}}

{{docs-hero
  logo='ember'
  slimHeading='My'
  strongHeading='Addon'
  byline='My addon demo/marketing page.'}}

{{#docs-demo as |demo|}}
  {{#demo.example name='my-demo.hbs'}}
    <p>Make sure to read up on the DocsDemo component before building out this page.</p>
  {{/demo.example}}
{{/docs-demo}}

<!--
<h2>Template Helpers</h2>

<section>
  <h3>Format Number</h3>
  <div class="introduction">Formats numbers using <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/NumberFormat"><code>Intl.NumberFormat</code></a>, and returns the formatted string value.</div>
  <h4>Basic Numbers</h4>
  <div>{{format-number num}}</div>
  <h4>Currency</h4>
  <div>{{format-number num style='currency' currency='USD'}}</div>
  {{code-snippet name='format-number.hbs'}}
</section>

<section>
  <h3>Format Date</h3>
  <div class="introduction">Formats dates using <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/DateTimeFormat"><code>Intl.DateTimeFormat</code></a>, and returns the formatted string value.</div>
  <div>{{format-date instant}}</div>
  <div>{{format-date yesterday}}</div>
</section>

<section>
  <h3>Format Time</h3>
  <div class="introduction">This is just like the <code>{{format-date}}</code> helper, except it will reference any string-named format from formats.time.</div>
  <div>{{format-time instant format='hhmmss'}}</div>
  <div>{{format-time instant hour='numeric' second='numeric' minute='numeric' hour12=false}}</div>
  {{code-snippet name='format-time.hbs'}}
</section>

<section>
  <h3>Format Relative</h3>
  <div class="introduction">Formats dates relative to "now" using <a href="https://github.com/yahoo/intl-relativeformat"><code>IntlRelativeFormat</code></a>, and returns the formatted string value.</div>
  <div>{{format-relative yesterday}}</div>
  <div>{{format-relative instant}}</div>
  <div>{{format-relative now interval=1000}}</div>
  {{code-snippet name='format-relative.hbs'}}
</section>

<section>
  <h3>Format Message</h3>
  <div class="introduction">Formats <a href="https://formatjs.io/guides/message-syntax/">ICU message syntax</a> strings with the provided values passed as arguments to the helper/method.</div>
  <div>
    {{t 'product.info' product='Cisco DPC3000' price=100}}
  </div>
  {{code-snippet name='format-message.hbs'}}

  <h3>Format Message Compact Format</h3>
  <div>
    {{t 'product.customers' product='Cisco DPC3000' numCustomers=25495}}
    <br />
    {{t 'product.customers.oneDigit' product='Cisco DPC3000' numCustomers=25495}}
  </div>
  {{code-snippet name='format-message-compact-number.hbs'}}
</section>
-->
