Choose a locale: {{view 'select' value=value content=options}}

<h2>Components</h2>

<h3>Format Number</h3>
<div>{{intl-number num}}</div>
<div>{{intl-number num format='EUR'}}</div>
<div>{{intl-number num style='currency' currency='USD'}}</div>

{{code-snippet name='intl-number.hbs'}}

<h3>Format Time</h3>
<div>{{intl-time now format='hhmmss'}}</div>
<div>{{intl-time now hour='numeric' minute='numeric' hour12=false}}</div>

{{code-snippet name='intl-time.hbs'}}

<h3>Format Relative</h3>
<div>{{intl-relative yesterday}}</div>

<h3>Format Message</h3>

<div>
	{{intl-message
		messageKey='product.info'
		product='Apple watch'
		price=200
		deadline=yesterday}}
</div>
<div>
	{{intl-message
		messages.photos
		name='Jason'
		numPhotos=num
		takenDate=yesterday}}
</div>

{{code-snippet name='intl-message.hbs'}}

<h3>Format HTML Message</h3>
<div>
	{{intl-html-message
		messageKey='product.html.info'
		product='Apple watch'
		price=200
		deadline=yesterday}}
</div>
<div>
	{{intl-html-message '<strong>{product}</strong>' product='Apple watch'}}
</div>

{{code-snippet name='intl-html-message.hbs'}}
