{{x-select
    action=(action 'changeLocale')
    options=locales
    value=currentLocale
}}

<h2>Components</h2>

<h3>Format Number</h3>
<div class="format-number">
    {{format-number num format='currency' style='currency' currency='EUR'}}
</div>

<h3>Format Date</h3>
<div class="format-date">
    {{format-date 'Thu Jan 23 2014 18:00:44 GMT+0000 (GMT)'}}
</div>

<h3>Format Time</h3>
<div class="format-time">
    {{format-time 'Thu Jan 23 2014 18:00:44 GMT+0000 (GMT)'
      hour='numeric'
      second='numeric'
      minute='numeric'
      hour12=false
      timeZone='UTC'
}}
</div>

<h3>Format Relative</h3>
<div class="format-relative">
    {{format-relative yesterday}}
</div>
